:root {
    --bee-yellow-color: #DCA846;
    --bee-yellow-darkened-color: #72592b;
    --bee-red-color: #B13B2B;
    --back-color: #E5D0AC;
    --text-bright-color: #FEF9E1;
    --text-dark-color: #383838;
}